.listCon {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  padding-bottom: 10px;
}

.profileImg {
  cursor: pointer;
}

.profile1 {
  cursor: pointer;
}

.listMainCon {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  background-color: #f4f4f4;
  position: relative;
}

.headerStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  width: 30%;
}

.navListDisp {
  height: 56px;
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: #0e85ff;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 5px 1px grey;
}

.burgerImg {
  width: 24px;
  height: 24px;
  margin-left: 18px;
}

.listHeadText {
  max-width: 35px;
  font-family: "Open Sans Bold", sans-serif;
  color: white;

  font-weight: bold;
  margin-left: 20px;
}

.iconAcc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 56px;
  margin-right: 19px;
}

.lockerSites {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 37px;
  margin-top: 17px;
  width: 80%;
  align-self: center;
}

.dropdown {
  border: none;
  height: 32px;
  margin-right: 4px;
  font-size: 18px;
  line-height: 27px;
  background-color: #f4f4f4;
}

.optionCon {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.searchBar {
  height: 59px;
  width: 100%;
  display: flex;
  align-items: center;
}

.searchBarText {
  width: 80%;
  padding: 10px;
  height: 35px;
  border: none;
  font-family: "Open Sans Regular", sans-serif;
  font-size: 14px;
  line-height: 19px;
}

.searchBarText:focus {
  outline: none;
}

.iconSty {
  height: 16px;
  width: 16px;
  color: #0e85ff;
}

.rightIcon {
  width: 20%;
  background-color: white;
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sitesText {
  font-family: "Open Sans SemiBold", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #3c4857;
  border-bottom: 3px solid #ffa136;
}

.lengthTextCon {
  margin-top: 5px;
  height: 32px;
  width: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0e85ff;
  border-radius: 15px;
}

.lengthText {
  color: white;
}

.listDisplay {
  min-height: calc(100vh - 133px);
  background-color: #f4f4f4;
  margin-top: 20.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.addBtn0 {
  position: fixed;
  right: 20px;
  bottom: 21px;
}

.listMainCon1 {
  display: none;
}

.searchImg {
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .iconAcc {
    width: 20%;
  }

  .iconDes {
    font-size: 18px;
  }
}

@media screen and (min-width: 780px) {
  .toastText {
    font-size: 15px;
  }

  .iconDes {
    margin-right: 10px;
  }
}

@media screen and (min-width: 900px) {
  .listCon {
    background-color: #e3e5eb;
  }

  .listMainCon {
    display: none;
  }

  .listMainCon1 {
    display: flex;
    height: 100vh;
    width: 100vw;
  }

  .toastCon {
    display: none;
    justify-content: center;
    align-items: center;
    width: 50%;
    animation: toast 4s linear;
  }

  @keyframes toast {
    50% {
      opacity: 0.6;
    }

    100% {
      opacity: 0.2;
    }
  }

  .toastText {
    text-align: center;
    height: 44px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #a8e9c4;
    border-left: 1px solid #a8e9c4;
    border-top: 1px solid #a8e9c4;
    background-color: #cbf3dc;
    font-family: "Lato", sans-serif;
    color: #2ecc71;
  }

  .toastIcon {
    border-top: 1px solid #a8e9c4;
    border-right: 1px solid #a8e9c4;
    border-bottom: 1px solid #a8e9c4;
    height: 44px;
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cbf3dc;
  }

  .sideBar {
    width: 120px;
    min-height: 100vh;
    background-color: #0e85ff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .burgerImg1 {
    margin-top: 62px;
  }

  .sideIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .homeCon1 {
    width: 120px;
    border-left: 5px solid #ffa136;
    height: 80px;
    margin-top: 104px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .circle {
    position: absolute;
    right: -5px;
    width: 17px;
    height: 17px;
    background-color: #ffa136;
    border-radius: 25px;
  }

  .navBar {
    width: calc(100vw - 120px);
    height: 104px;
    background-color: #e3e5eb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid white;
  }

  .navLogo {
    width: 179px;
    height: 70px;
    margin-left: 109px;
    margin-top: 10px;
  }

  .navIcons {
    width: 35%;
    display: flex;
    margin-right: 40px;
    align-items: center;
  }

  .lockerSites1 {
    display: flex;
    justify-content: space-between;
    height: 114px;
    margin-left: 91px;
    margin-top: 38px;
    width: 85.5%;
  }

  .navCon {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 120px);
    height: 100vh;
  }

  .sitesDesc1 {
    width: 40%;
    height: 114px;
  }

  .siteText1 {
    font-size: 30px;
    font-family: "Open Sans SemiBold", sans-serif;
    line-height: 41px;
    max-width: 70px;
    margin-top: 2px;
    border-bottom: 4px solid #ffa136;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .searchCon1 {
    height: 114px;
    width: 40%;
    display: flex;
  }

  .inputStyle1 {
    width: 70%;
    display: flex;
    align-items: center;
    height: 40px;
  }

  .searchText1 {
    height: 22px;
    width: 65%;
    border: none;
    border-bottom: 1px solid #0e85ff;
    background-color: #e3e5eb;
    font-size: 18px;
    line-height: 24px;
    font-family: "Open Sans Regular", sans-serif;
    margin-top: 5px;
  }

  .searchText1:focus {
    outline: none;
  }

  .searchIcon1 {
    height: 24px;
    width: 24px;
    border-bottom: 1px solid #0e85ff;
    margin-top: 5px;
  }

  .addBtn1 {
    height: 48px;
    width: 48px;
  }

  .listDisplay1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #e3e5eb;
    padding-bottom: 10px;
    margin-top: 15px;
  }
}

@media screen and (min-width: 1150px) {
  .navIcons {
    width: 20%;
  }

  .inputStyle1 {
    width: 60%;
  }
}
